@import "tailwindcss";

@layer utilities {
  @keyframes move-toolbar {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(100vh - 90%));
    }
  }

  .animate-move-toolbar {
    animation: move-toolbar 0.5s linear 1;
    animation-delay:1s;
    animation-fill-mode: forwards;
  }


  @keyframes display-editor {
    from {
      min-height: 0; 
      max-height: 0;
    }
    to {
      min-height: 100vh;
      max-height:100vh;
    }
  }
  
  .animate-display-editor {
    animation: display-editor 0.5s linear 1;
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }


  @keyframes move-clip {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(var(--shift-x));
    }
  }
  .animate-move-clip {
    --shift-x: -50%;
    animation: move-clip 10s linear infinite;
    animation-delay: 15s;
  }

  .translate-clips-start {
    --shift-x: -100%;
    animation: move-clip 10s linear 1;
    animation-fill-mode: forwards;
    animation-delay: 5s;
  }

  


  @keyframes resize {
    0% {
      width: 0;
    }
    100% {
      width: 20rem;
    }

  }
  
  .animate-resize {
    animation: resize 1s linear 1;
    animation-fill-mode: forwards;
  }

  @keyframes move-cursor-one {
    0% {
      transform: translateX(100vw);
    }

    100% {
      transform: translateX(0);
    }
  }

  .animate-cursor-1 {
    animation: move-cursor-one 1s linear 1;
    animation-delay: 0s;
    animation-fill-mode: forwards;
  }


  @keyframes move-cursor-two {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(20rem);
    }
  }

  .animate-cursor-2 {
    animation: move-cursor-two 1s linear 1;
    animation-fill-mode: forwards;
  }

  @keyframes move-cursor-three {
    0% {
      transform: translateX(20rem);
    }

    100% {
      transform: translateX(100vw);
    }
  }

  .animate-cursor-3 {
    animation: move-cursor-three 1s linear 1;
    animation-delay: 0;
    animation-fill-mode: forwards;
  }

  @keyframes move-cursor-four {
    0% {
      transform: translateY(0);
    }

    100% {
      transform: translateY(-40vh);
    }
  }

  .animate-cursor-4 {
    animation: move-cursor-four 0.5s linear 1;
    animation-delay: 0s;
    animation-fill-mode: forwards;
  }

@keyframes move-cursor-five {
    0% {
      transform: translateY(-40vh);
    }

    100% {
      transform: translateY(90vh);
    }
  }

  .animate-cursor-5 {
    animation: move-cursor-five 0.5s linear 1;
    animation-delay: 0s;
    animation-fill-mode: forwards;
  }
  @keyframes animate-subtitle-resize {
    0 {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-100vw);
    }
  }

  .animate-subtitle-resize {
    animation: animate-subtitle-resize 1s linear 1;
    animation-fill-mode: forwards;
    animation-delay: 0s;
  }

}



body, html {
  margin: 0; 
  background: #243036;
}
