@import "tailwindcss";

@layer utilities {
  @keyframes move-clip {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(var(--shift-x));
    }
  }
  .animate-move-clip {
    --shift-x: -50%;
    animation: move-clip 10s linear infinite;
    animation-delay: 15s;
  }

  .translate-clips-start {
    --shift-x: -100%;
    animation: move-clip 10s linear 1;
    animation-fill-mode: forwards;
    animation-delay: 5s;
  }

  


  @keyframes resize {
    0% {
      width: 0;
    }
    100% {
      width: 20rem;
    }

  }
  
  .animate-resize {
    animation: resize 1s linear 1;
    animation-fill-mode: forwards;
  }

  @keyframes move-cursor-one {
    0% {
      transform: translateX(100vw);
    }

    100% {
      transform: translateX(0);
    }
  }

  .animate-cursor-1 {
    animation: move-cursor-one 1s linear 1;
    animation-delay: 0s;
    animation-fill-mode: forwards;
  }


  @keyframes move-cursor-two {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(20rem);
    }
  }

  .animate-cursor-2 {
    animation: move-cursor-two 1s linear 1;
    animation-fill-mode: forwards;
  }

  @keyframes move-cursor-three {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(100vw);
    }
  }

  .animate-cursor-3 {
    animation: move-cursor-three 1s linear 1;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
  }

  @keyframes move-cursor-four {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-100vw);
    }
  }

  .animate-cursor-4 {
    animation: move-cursor-four 1s linear 1;
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes animate-subtitle-resize {
    0 {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-100vw);
    }
  }

  .animate-subtitle-resize {
    animation: animate-subtitle-resize 1s linear 1;
    animation-fill-mode: forwards;
    animation-delay: 0s;
  }

}



body, html {
  margin: 0; 
  background: #2f3e46;
}
